global_defs {
    router_id {{ inventory_hostname }}
}

vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == 'Monitoring' else 'BACKUP' }}
    interface {{ nic1_interface | default('ens160') }}
    virtual_router_id 51
    priority {{ '150' if inventory_hostname == 'Monitoring' else '100' }}
    advert_int 1
    
    authentication {
        auth_type PASS
        auth_pass antigravity_ha
    }
    
    virtual_ipaddress {
        10.2.2.99
    }
}
