events {
    worker_connections 1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    server {
        listen       80;
        server_name  localhost;

        # 정적 콘텐츠 경로
        location / {
            root   /usr/share/nginx/html;
            index  index.html index.htm;
        }

        # 에러 페이지 설정
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }
}
