---
- name: Configure SECURE Gateway (Firewall & Routing)
  hosts: SECURE
  become: true
  roles:
    - secure

- name: Configure WAF (Web Application Firewall)
  hosts: WAF
  become: true
  roles:
    - waf

- name: Configure Internal DNS
  hosts: DNS
  become: true
  roles:
    - dns
