# Alertmanager 설정 파일
# 자동 생성됨 - Ansible

global:
  resolve_timeout: 5m
  smtp_smarthost: '10.2.2.50:25'
  smtp_from: 'alertmanager@localhost'
  smtp_require_tls: false

route:
  group_by: ['alertname', 'tier']
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 5m
  receiver: 'default-receiver'

receivers:
  - name: 'default-receiver'
    email_configs:
      - to: 'root@localhost'
        send_resolved: true
        html: ''
        text: |
          {% raw %}
          {{ range .Alerts }}
          [ALERT] {{ .Labels.alertname }} ({{ .Labels.severity }}) @ {{ .Labels.nodename }} - {{ .Annotations.summary }}
          {{ end }}
          {% endraw %}

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'tier']
